h1 { 
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: rgb(238, 49, 143);
    
}
b{
    text-align: center;
    font-size: 25px;
    background-color: #8d88eb80;
}
li{
    margin-right: 1000px;
}
.text-center{
    text-align: center;
}
dl{
font-size: 20px
}
body{
    background-image:url("hinhnen.gif.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h5{
    border: 1px ; 
    background-color: pink;  
    margin-right: 1500px;
    font-size: 15px;
   
}